name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-rust:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
          toolchain: 1.88
      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Check Formatting
        run: cargo fmt -- --check
      - uses: actions/setup-python@v5
        name: Setup Python
        with:
          python-version: '3.12'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.0.6
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: Install dependencies
        run: |
          curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
          sudo apt-get install -y cmake clang unzip libsasl2-dev protobuf-compiler
      - name: Build console
        run: |
          cd webui
          pnpm build
      - name: Build
        run: cargo build --all-features
        env:
          RUSTC_WRAPPER: sccache
      - name: Run Clippy
        run: cargo clippy --all-features --all-targets --workspace -- -D warnings
        env:
          RUSTC_WRAPPER: sccache
      - name: Test
        run: cargo nextest run -E 'kind(lib)' --all-features
        env:
          RUSTC_WRAPPER: sccache
